# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Erik Buunk
#	email = erik.buunk@gmail.com 
[user]
	name = Erik Buunk
	email = erik.buunk@gmail.com
